html
    head
        title= message
        style.
            body {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
                background: #f3f6f8;
                color: #4f748e;
                margin: 0;
            }

            p,
            .calypsolive-message {
                height: 21px;
                overflow: hidden;
                padding: 16px 9px;
                margin: 0;
                background: #2e4453;
                color: #ffffff;
            }

            iframe,
            .calypsolive-log-frame {
                width: 100%;
                height: calc( 100% - 57px );
                border: 0;
            }
        script(src="https://code.jquery.com/jquery-1.12.4.min.js", integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=", crossorigin="anonymous")
        script var config = !{JSON.stringify(config).replace(/<\//g, '<\\/')}
        script.
            $(function() {
                function isScrolledToBottom() {
                    return (window.innerHeight + window.scrollY) >= document.body.scrollHeight;
                }
                (function refreshLog() {
                    $.get(config.logUrl, function(logContent) {
                        var atBottom = isScrolledToBottom();
                        $('.calypsolive-log-frame > pre').html(logContent);
                        if (atBottom) {
                            $('html, body').animate({ scrollTop: $(document).height() }, 500);
                        }
                    }).always(function() {
                        setTimeout(refreshLog, 2000);
                    })
                })();
                (function getStatus() {
                    $.get(config.statusUrl, function(statusObj) {
                        if(config.readyEvent && statusObj.status === config.readyEvent
                                || !config.readyEvent && statusObj.status != 'BOOTING') {
                            window.location.reload();
                        } else {
                            setTimeout(getStatus, 2000);
                        }
                    }).fail(function() {
                        setTimeout(getStatus, 2000);
                    });
                })();
            });
    body
        div(class="calypsolive-message")
            = message
        div(class="calypsolive-log-frame")
            pre

