html
    head
        title= message
        style.
            body {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
                background: #091e25;
                color: #ffffff;
                margin: 0;
            }

            p,
            .calypsolive-message {
                box-sizing: border-box;
                min-height: 55px;
                max-height: 80px;
                overflow: hidden;
                padding: 16px 20px;
                margin: 0;
                background: #2e4453;
                color: #ffffff;

                animation: progress-bar-animation 3300ms infinite linear;
                background-image: linear-gradient( -45deg, #3d596d 28%, #334b5c 28%, #334b5c 72%, #3d596d 72%);
                background-size: 200px 100%;
                background-repeat: repeat-x;
                background-position: 0 50px;
            }

            .calypsolive-toolbar {
                position: absolute;
                top: 12px;
                right: 4px;
                box-sizing: border-box;
                display: flex;
            }
            .calypsolive-toolbar a {
                display: inline-block;
                border: 1px solid #ffffff;
                border-radius: 3px;
                padding: 4px 6px;
                margin: 0 10px 0 0;
                font-size: 12px;
                text-decoration: none;
                color: #ffffff;
                background: #2e4453;
                transition: all 200ms ease-in;
            }
            .calypsolive-toolbar a:hover {
                background: #ffffff;
                color: #2e4453;
            }

            iframe,
            .calypsolive-log-frame {
                box-sizing: border-box;
                width: 100%;
                height: calc( 100% - 66px );
                border: 0;
                padding: 5px 20px;
            }
            @keyframes progress-bar-animation {
                0%   { background-position: 400px 50px; }
                100% {  }
            }
        script(src="https://code.jquery.com/jquery-1.12.4.min.js", integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=", crossorigin="anonymous")
        script var config = !{JSON.stringify(config).replace(/<\//g, '<\\/')}
        script.
            $(function() {
                function isScrolledToBottom() {
                    return (window.innerHeight + window.scrollY) >= document.body.scrollHeight;
                }
                (function refreshLog() {
                    $.get(config.logUrl, function(logContent) {
                        var atBottom = isScrolledToBottom();
                        $('.calypsolive-log-frame > pre').html(logContent);
                        if (atBottom) {
                            $('html, body').animate({ scrollTop: $(document).height() }, 500);
                        }
                    }).always(function() {
                        setTimeout(refreshLog, 2000);
                    })
                })();
                (function getStatus() {
                    $.get(config.statusUrl, function(statusObj) {
                        if(config.readyEvent && statusObj.status === config.readyEvent
                                || !config.readyEvent && statusObj.status != 'BOOTING') {
                            // wait 2s before refreshing
                            setTimeout(function() {
                                window.location.reload();
                            }, 2000);
                        } else {
                            setTimeout(getStatus, 2000);
                        }
                    }).fail(function() {
                        setTimeout(getStatus, 2000);
                    });
                })();
            });
    body
        div(class="calypsolive-message")
            = message
        div(class="calypsolive-toolbar")
            a(href="https://github.com/Automattic/calypso-live-branches/issues") Report Issues
        div(class="calypsolive-log-frame")
            pre
